<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.blog.pojo.Article">
            <id column="id" property="id"></id>
            <result column="title" property="title"></result>
            <result column="keyword" property="keyword"></result>
            <result column="article_describe" property="describe"></result>
            <result column="article_column" property="column"></result>
            <result column="label" property="label"></result>
            <result column="title_images" property="titleImages"></result>
            <result column="userName" property="userName"></result>
            <result column="is_del" property="isDel"></result>
            <result column="is_release" property="isRelease"></result>
            <result column="is_open" property="idOpen"></result>
            <result column="release_Date" property="releaseDate"></result>
            <result column="content" property="content"></result>
    </resultMap>

    <sql id="base_sql">
            id,title,keyword,article_describe,article_column,label,title_images,userName,is_del,is_release,is_open,release_Date,content
    </sql>

    <insert id="insertArticle" parameterType="com.blog.pojo.Article">
            insert into article
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">
                    id,
                </if>
                <if test="keyword != null">
                    keyword,
                </if>
                <if test="title != null">
                    title,
                </if>
                <if test="describe != null">
                    article_describe,
                </if>
                <if test="column != null">
                    article_column,
                </if>
                <if test="label != null != null">
                    label,
                </if>
                <if test="titleImages != null">
                    title_images,
                </if>
                <if test="userName != null">
                    userName,
                </if>
                <if test="isDel != null">
                    is_del,
                </if>
                <if test="isRelease != null">
                    is_release,
                </if>
                <if test="idOpen != null">
                    is_open,
                </if>
                <if test="releaseDate != null">
                    release_Date,
                </if>
                <if test="content != null">
                    content,
                </if>
            </trim>
          <trim prefix="values (" suffix=")" suffixOverrides=",">
              <if test="id != null">
                  #{id},
              </if>
              <if test="title != null">
                  #{title},
              </if>
              <if test="keyword">
                  #{keyword},
              </if>
              <if test="describe != null">
                 #{describe},
              </if>
              <if test="column != null">
                  #{column},
              </if>
              <if test="label != null != null">
                  #{label},
              </if>
              <if test="titleImages != null">
                  #{titleImages},
              </if>
              <if test="userName != null">
                  #{userName},
              </if>
              <if test="isDel != null">
                  #{isDel},
              </if>
              <if test="isRelease != null">
                  #{isRelease},
              </if>
              <if test="idOpen != null">
                  #{idOpen},
              </if>
              <if test="releaseDate != null">
                  #{releaseDate},
              </if>
              <if test="content != null">
                  #{content}
              </if>
          </trim>

    </insert>
    
    <select id="findArticleList" resultMap="BaseResultMap">
        select
        <include refid="base_sql" />
        FROM article
    </select>

    <!-- 假删除,设置删除字段值 -->
    <update id="deleteArticle" parameterType="com.blog.pojo.Article" >
       UPDATE article
          <if test="isDel != null">
              set is_del=#{isDel}
          </if>
        WHERE id = #{id}
    </update>

    <!-- 查询单个 -->
    <select id="getArticle" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
         <include refid="base_sql" />
        FROM
        article
        WHERE id = #{id}
    </select>

    <!-- 修改文章数据 -->
    <update id="updateArticle" parameterType="com.blog.pojo.Article">
        UPDATE article
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="keyword != null">
                keyword = #{keyword},
            </if>
            <if test="describe != null">
                article_describe = #{describe},
            </if>
            <if test="column != null">
                article_column = #{column},
            </if>
            <if test="label != null != null">
                label = #{label},
            </if>
            <if test="titleImages != null">
                title_images = #{titleImages},
            </if>
            <if test="userName != null">
                userName = #{userName},
            </if>
            <if test="isDel != null">
                is_del = #{isDel},
            </if>
            <if test="isRelease != null">
                is_release = #{isRelease},
            </if>
            <if test="idOpen != null">
                is_open = #{idOpen},
            </if>
            <if test="releaseDate != null">
                release_Date = #{releaseDate},
            </if>
            <if test="content != null">
                content = #{content}
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <!-- 删除不用此操作 -->
    <!--<delete id="deleteArticle" parameterType="java.lang.Integer">
        delete
         <include refid="base_sql" />
         FROM article WHERE  id = #{id}
    </delete>-->

</mapper>

